.container-fluid {
  max-width: 1400px;
  margin: 0 auto;
}

h2 {
  font-weight: 600;
  color: #333;
}

.btn-primary {
  background-color: #3762ea;
  border-color: #3762ea;

  &:hover {
    background-color: #2e50c9;
    border-color: #2e50c9;
  }
}

.alert {
  border: 0;
  border-radius: 0.5rem;

  i {
    font-size: 1.5rem;
  }
}

.card {
  height: 100%;
}
