<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card">
      <div class="card-body">
        <div class="mb-0 p-0 p-lg-3">
          <div class="mb-0 border-0 p-md-5 p-lg-0 p-4">
            <div class="mb-0 border-0 p-md-4 p-lg-0">
              <div class="mb-4 p-0">
                <a routerLink="/" class="auth-logo">
                  <img src="assets/images/logos/uleam-logo-ligth.png" alt="logo-uleam" class="mx-auto" height="50" />
                </a>
              </div>

              <div class="auth-title-section mb-4 text-lg-start text-center">
                <h3 class="text-dark fw-semibold mb-3">Lock Screen</h3>
                <p class="text-muted fs-14 mb-0">Hello Jhon !</p>
              </div>
              <div class="d-flex gap-2 align-items-center mb-3">
                <div class="lh-1">
                  <span class="">
                    <img src="assets/images/users/user-14.jpg" alt="" class="avatar avatar-sm rounded-circle me-1">
                  </span>
                </div>
                <div>
                  <p class="mb-0 text-dark fw-medium">millerjack&#64;gmail.com</p>
                </div>
              </div>

              <div class="pt-0">
                <form action="index.html" class="my-4">
                  <div class="form-group mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" type="password" id="password" required=""
                      placeholder="Enter your password" />
                  </div>
                  <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="checkbox-signin" checked="">
                    <label class="form-check-label" for="checkbox-signin">Remember me</label>
                </div>
                  <div class="form-group mb-0 row">
                    <div class="col-12">
                      <div class="d-grid">
                        <button class="btn btn-primary" type="submit">
                          Unlock
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="text-center text-muted">
                  <p class="mb-0">Try unlock with ?<a class="text-primary fw-medium" href="javascript:void(0);"> Finger print</a> / <a class="text-primary fw-medium" href="javascript:void(0);">Face Id</a></p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>