.btn-soft-primary {
  background-color: rgba(13, 110, 253, 0.1);
  color: #0d6efd;
  border: none;

  &:hover {
    background-color: rgba(13, 110, 253, 0.2);
  }
}

.btn-soft-warning {
  background-color: rgba(255, 193, 7, 0.1);
  color: #ffc107;
  border: none;

  &:hover {
    background-color: rgba(255, 193, 7, 0.2);
  }
}

.btn-soft-danger {
  background-color: rgba(220, 53, 69, 0.1);
  color: #dc3545;
  border: none;

  &:hover {
    background-color: rgba(220, 53, 69, 0.2);
  }
}

.bg-soft-info {
  background-color: rgba(13, 202, 240, 0.1);
}
