<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card p-3 mb-0 mb-0">
      <div class="card-body">
        <div class="mb-0 border-0 p-md-5 p-lg-0 p-4">
          <div class="mb-4 p-0 text-center">
            <a routerLink="/" class="auth-logo">
              <img
                src="assets/images/logos/uleam-logo-ligth.png"
                alt="logo-uleam"
                class="mx-auto"
                height="50"
              />
            </a>
          </div>

          <div class="auth-title-section mb-3 text-center mt-2">
            <h3 class="text-dark fs-20 fw-medium mb-2">Email Confirmation</h3>
            <p class="text-muted fs-15">
              Please check your email for confirmation mail. <br />Click link in
              email to verification your account
            </p>
          </div>

          <div class="text-center">
            <a
              href="javascript:void(0);"
              class="btn btn-primary mt-3 me-1"
              type="submit"
              >Resend Confirmation</a
            >
          </div>

          <div class="text-center pt-4">
            <div class="maintenance-img">
              <img
                src="assets/images/svg/confirmation-email.svg"
                height="200"
                alt="svg-logo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
