<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0">Dashboard Principal</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
            <li class="breadcrumb-item active">Principal</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xxl-4 col-lg-6">
      <app-users-stats></app-users-stats>
    </div>

    <div class="col-xxl-8 col-lg-6">
      <app-applications-stats></app-applications-stats>
    </div>
  </div>

  <div class="row">
    <div class="col-xxl-4 col-lg-6">
      <app-companies-stats></app-companies-stats>
    </div>

    <div class="col-xxl-4 col-lg-6">
      <app-time-to-hire></app-time-to-hire>
    </div>

    <div class="col-xxl-4 col-lg-12">
      <app-graduates-profile></app-graduates-profile>
    </div>
  </div>

  <div class="row">
    <div class="col-xxl-6 col-lg-12">
      <app-top-companies></app-top-companies>
    </div>

    <div class="col-xxl-6 col-lg-12">
      <app-graduates-by-faculty></app-graduates-by-faculty>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-top-skills></app-top-skills>
    </div>
  </div>
</div>
